In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import warnings as wr

In [2]:
df=pd.read_csv(r'C:\Users\sameer sheikh\OneDrive\Desktop\datasets\cardekho_dataset.csv',index_col=[0])

In [3]:
df.head()

,car_name,brand,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,Maruti Alto,Maruti,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,Hyundai Grand,Hyundai,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,Hyundai i20,Hyundai,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,Maruti Alto,Maruti,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,Ford Ecosport,Ford,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000

In [4]:
df.shape

(15411, 13)

In [5]:
df.isnull().sum()

car_name             0
brand                0
model                0
vehicle_age          0
km_driven            0
seller_type          0
fuel_type            0
transmission_type    0
mileage              0
engine               0
max_power            0
seats                0
selling_price        0
dtype: int64

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15411 entries, 0 to 19543
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   car_name           15411 non-null  object
 1   brand              15411 non-null  object
 2   model              15411 non-null  object
 3   vehicle_age        15411 non-null  int64
 4   km_driven          15411 non-null  int64
 5   seller_type        15411 non-null  object
 6   fuel_type          15411 non-null  object
 7   transmission_type  15411 non-null  object
 8   mileage            15411 non-null  float64
 9   engine             15411 non-null  int64
 10  max_power          15411 non-null  float64
 11  seats              15411 non-null  int64
 12  selling_price      15411 non-null  int64
dtypes: float64(2), int64(5), object(6)
memory usage: 1.6+ MB

# data cleaning
### 1) handling missing values
### 2) handling duplicates
### 3) checking datatype
### 4) understand the dataset

In [7]:
#removing unnessory columns
df.drop(['car_name','brand'],axis=1,inplace=True)

In [8]:
df.shape

(15411, 11)

In [9]:
df.head()

,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000

In [10]:
df['model'].unique()

array(['Alto', 'Grand', 'i20', 'Ecosport', 'Wagon R', 'i10', 'Venue',
       'Swift', 'Verna', 'Duster', 'Cooper', 'Ciaz', 'C-Class', 'Innova',
       'Baleno', 'Swift Dzire', 'Vento', 'Creta', 'City', 'Bolero',
       'Fortuner', 'KWID', 'Amaze', 'Santro', 'XUV500', 'KUV100', 'Ignis',
       'RediGO', 'Scorpio', 'Marazzo', 'Aspire', 'Figo', 'Vitara',
       'Tiago', 'Polo', 'Seltos', 'Celerio', 'GO', '5', 'CR-V',
       'Endeavour', 'KUV', 'Jazz', '3', 'A4', 'Tigor', 'Ertiga', 'Safari',
       'Thar', 'Hexa', 'Rover', 'Eeco', 'A6', 'E-Class', 'Q7', 'Z4', '6',
       'XF', 'X5', 'Hector', 'Civic', 'D-Max', 'Cayenne', 'X1', 'Rapid',
       'Freestyle', 'Superb', 'Nexon', 'XUV300', 'Dzire VXI', 'S90',
       'WR-V', 'XL6', 'Triber', 'ES', 'Wrangler', 'Camry', 'Elantra',
       'Yaris', 'GL-Class', '7', 'S-Presso', 'Dzire LXI', 'Aura', 'XC',
       'Ghibli', 'Continental', 'CR', 'Kicks', 'S-Class', 'Tucson',
       'Harrier', 'X3', 'Octavia', 'Compass', 'CLS', 'redi-GO', 'Glanza',
       'Macan', 'X4', 'Dzire ZXI', 'XC90', 'F-PACE', 'A8', 'MUX',
       'GTC4Lusso', 'GLS', 'X-Trail', 'XE', 'XC60', 'Panamera', 'Alturas',
       'Altroz', 'NX', 'Carnival', 'C', 'RX', 'Ghost', 'Quattroporte',
       'Gurkha'], dtype=object)

In [11]:
#getting all different types of features
cat_features=[i for i in df.columns if df[i].dtype=='O']
print('number of categorical features =',len(cat_features))
num_features=[i for i in df.columns if df[i].dtype!='O']
print('number of numercial features =',len(num_features))
dis_features=[i for i in num_features if len(df[i].unique())<=25]
print('number of discreet features =',len(dis_features))
con_features=[i for i in num_features if len(df[i].unique())>=25]
print('number of continous features =',len(con_features))

number of categorical features = 4
number of numercial features = 7
number of discreet features = 2
number of continous features = 5

In [12]:
# separting indepemdant and dependant features
x=df.drop(['selling_price'],axis=1)
y=df[['selling_price']]

In [13]:
x.head()

,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats
0,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5
1,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5
2,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5
3,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5
4,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5

In [14]:
y.head()

   selling_price
0         120000
1         550000
2         215000
3         226000
4         570000

In [15]:
#label encoding
from sklearn.preprocessing import LabelEncoder
label=LabelEncoder()
x['model']=label.fit_transform(x['model'])

In [16]:
x.head()

,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats
0,7,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5
1,54,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5
2,118,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5
3,7,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5
4,38,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5

In [17]:
x['seller_type'].unique()

array(['Individual', 'Dealer', 'Trustmark Dealer'], dtype=object)

In [18]:
x['fuel_type'].unique()

array(['Petrol', 'Diesel', 'CNG', 'LPG', 'Electric'], dtype=object)

In [19]:
x['transmission_type'].unique()

array(['Manual', 'Automatic'], dtype=object)

In [20]:
x['mileage'].unique()

array([19.7 , 18.9 , 17.  , 20.92, 22.77, 20.36, 20.51, 18.15, 16.6 ,
       22.32, 19.64, 14.41, 28.09, 25.2 , 19.27, 28.4 , 12.99, 21.4 ,
       20.85, 16.09, 19.67, 17.4 , 13.6 , 26.59, 17.7 , 17.19, 13.  ,
       23.01, 18.6 , 17.92, 15.1 , 23.4 , 22.54, 18.  , 21.  , 15.4 ,
       20.89, 26.6 , 22.5 , 17.8 , 20.54, 17.3 , 25.  , 24.  , 18.16,
       21.21, 14.  , 16.8 , 25.17, 24.3 , 18.5 , 23.84, 18.78, 11.74,
       25.1 , 21.01, 22.74, 21.9 , 15.6 , 19.1 , 22.07, 22.  , 23.1 ,
       23.  , 19.08, 18.27, 23.9 , 16.1 , 19.81, 19.44, 18.59, 20.62,
       17.01, 17.5 , 12.05, 25.83, 21.79, 13.7 , 16.47, 20.7 , 10.91,
       25.8 , 25.32, 19.87, 18.7 , 14.4 , 22.69, 20.73, 16.55, 20.  ,
       21.5 , 24.7 , 23.95, 21.63, 17.43, 25.47, 33.54, 15.96, 21.19,
       26.  , 12.55, 16.9 , 22.3 , 12.9 , 13.5 , 17.84, 27.28, 24.04,
       22.7 , 16.  , 17.6 , 21.7 , 20.45, 17.14, 19.6 , 20.4 , 12.63,
       17.1 , 15.37, 11.4 , 13.68, 17.68, 12.3 , 12.19, 17.33, 20.77,
       12.07, 20.3 , 27.39, 16.36, 15.8 , 11.29, 20.52, 31.79,  9.17,
       20.8 , 14.28, 19.3 , 26.21, 18.1 , 22.9 , 14.94, 13.38, 17.41,
       11.5 , 17.03, 18.2 , 13.9 , 12.4 , 19.34, 15.81, 14.21, 15.15,
       19.01, 18.12, 30.46, 17.05, 21.94, 24.52, 15.  , 19.  , 13.14,
       14.84, 26.2 , 20.63, 10.26, 14.7 , 33.44, 17.2 , 23.26, 11.36,
       17.99, 21.13, 20.68, 15.26, 11.57, 19.12, 22.05, 11.8 , 13.93,
       16.93, 13.2 , 18.25, 26.32, 19.83, 22.37,  9.5 , 19.16, 16.7 ,
       27.3 , 19.5 , 20.14, 19.62, 22.27, 32.52, 11.3 , 15.74, 16.2 ,
       24.4 , 18.69, 15.04, 17.66, 12.  , 15.29, 14.3 , 10.1 , 16.02,
       15.85, 14.49, 16.5 , 22.48, 22.1 , 15.2 , 10.  , 14.62, 23.7 ,
       12.7 , 10.75, 21.38, 20.28, 11.33, 20.5 , 17.11, 22.15, 11.1 ,
        8.45, 20.41, 10.5 , 21.14,  9.52, 24.2 , 18.48, 18.88, 20.34,
       12.8 , 11.79, 25.5 , 11.88, 12.5 , 19.72, 14.23, 14.1 , 14.12,
       11.25, 13.33, 13.4 , 16.38, 13.96, 19.56, 11.  , 15.9 , 27.62,
       19.95, 13.1 , 20.46, 12.39, 27.4 , 18.23, 22.8 , 14.59, 18.19,
       14.8 , 23.8 , 20.65, 19.4 , 20.64, 26.83, 26.1 , 14.67, 19.59,
       12.81, 26.8 , 10.8 , 17.21, 18.56, 17.9 , 16.95, 21.66, 26.08,
       12.98, 18.24, 18.53, 12.1 ,  7.81, 26.55, 18.06, 13.45, 11.7 ,
       30.48, 21.3 , 14.04, 20.04, 30.47, 12.97, 16.4 , 16.07, 14.24,
       21.76, 21.49, 21.27, 14.71, 11.49, 21.56, 19.71, 16.73, 16.11,
       14.5 , 19.02, 14.75, 25.6 , 24.07, 19.33, 10.13, 16.05, 10.93,
       24.12, 24.8 , 13.24, 14.69, 12.35, 20.2 , 21.74, 15.63, 21.1 ,
       14.74, 15.34, 23.5 , 24.29, 15.5 , 16.77, 14.19, 15.11, 18.76,
       19.2 , 17.09, 16.46, 13.8 , 20.88, 16.3 , 15.97,  4.  ,  9.26,
       12.65, 15.3 , 20.35, 14.42, 20.71, 15.64, 19.39, 14.6 , 10.9 ,
        9.  , 21.72, 32.26,  7.5 , 23.87, 19.23, 26.82, 12.51, 15.68,
       15.06, 14.57,  9.3 , 12.6 , 11.2 , 12.83, 10.2 , 19.05, 12.62,
       10.37, 18.32, 19.91, 18.57, 15.41,  8.9 , 14.11,  8.5 , 11.9 ,
       16.78, 18.3 ,  7.94, 10.6 , 18.8 , 11.78,  6.  , 17.54, 11.31,
       17.85, 18.4 , 24.1 , 14.38, 10.4 , 15.01, 17.24, 13.29, 19.19,
       20.6 ,  8.77, 17.61, 18.42, 12.95, 14.99, 15.92,  8.6 , 17.69,
       16.12, 18.84, 19.65, 17.74, 17.18, 13.53])

In [21]:
x['engine'].unique()

array([ 796, 1197,  998, 1498, 1582, 1461, 1998, 1248, 2143, 2494, 1598,
       1497, 2523, 2982,  999, 1199, 1086, 2179, 1396, 1198, 1590, 1997,
       1493, 1120, 1196, 1186, 1061,  799, 1796, 2993, 1298, 3198, 1995,
       1373, 1591, 1968, 1399, 1047, 1353, 2755, 1395, 2498, 1999, 2953,
       2393, 2967, 2998, 2995, 1956, 1462, 1799, 2499, 1451, 1194, 1798,
       2694, 1496, 1969, 2487, 3604, 1499, 2987, 1599, 2354, 1950, 2148,
       4134, 2400, 1984, 2979, 2609, 2092, 5998, 1330, 2956, 3598, 2362,
        793, 1368, 3597, 1991, 5461, 1343, 2497, 4367, 1797, 3498, 2698,
       1896, 2999, 3855, 4806, 1985, 2771, 2157, 3628, 2198, 2996, 2199,
       4395, 3456, 4663, 2773, 6592, 2495, 1781, 2997, 1597, 2596, 4163],
      dtype=int64)

In [22]:
x['max_power'].unique()

array([ 46.3 ,  82.  ,  80.  ,  67.1 ,  98.59,  78.9 ,  67.04, 118.35,
        85.  , 126.32, 108.45, 189.08,  88.5 ,  74.  , 170.  , 100.6 ,
        83.1 ,  83.14, 103.2 , 126.2 , 117.3 ,  63.  ,  78.  ,  81.86,
       168.5 ,  67.  ,  88.76,  62.1 , 140.  ,  88.73,  81.83,  74.96,
        94.  ,  81.8 ,  58.16,  68.  , 126.3 , 120.  , 103.6 , 121.  ,
       113.42, 152.87,  70.  ,  86.8 ,  73.97,  86.7 ,  64.  , 116.3 ,
        53.3 ,  82.9 ,  75.  ,  84.  , 186.  ,  98.6 , 113.4 ,  47.3 ,
        90.  ,  85.8 ,  73.9 ,  82.85,  98.96,  68.05, 261.49,  74.02,
        99.  ,  67.05, 153.86, 197.  ,  77.  ,  83.8 ,  88.7 ,  61.7 ,
       190.  ,  91.1 , 121.3 , 118.  , 147.51,  69.  , 138.  , 105.5 ,
       138.1 , 100.  ,  53.26, 174.5 , 115.  , 105.  ,  89.84, 117.6 ,
       177.  ,  88.51,  73.  , 174.33, 185.  , 237.36,  88.8 , 241.4 ,
        83.11, 335.  ,  67.06,  58.33, 335.25, 254.7 , 123.24, 187.7 ,
       204.  , 265.  , 167.68, 171.  , 121.36, 103.26, 147.8 , 130.2 ,
       134.  , 103.  , 141.  , 203.  , 110.  , 240.  , 184.  , 168.7 ,
       103.52,  94.68, 157.8 ,  58.2 , 108.5 , 163.7 , 120.69,  40.3 ,
       147.5 , 171.5 , 108.6 , 103.5 ,  53.64, 241.6 ,  71.  , 187.74,
        93.87, 214.56, 280.  , 214.5 , 126.24, 254.8 , 188.  , 167.62,
       355.37, 187.4 , 191.7 , 152.  ,  93.7 , 110.4 , 258.  , 138.03,
        88.2 ,  83.83, 140.8 ,  57.5 , 149.92,  88.  , 224.  ,  68.1 ,
       103.25, 335.2 , 200.  , 241.3 , 321.  , 271.  , 127.  , 313.  ,
       102.  ,  68.07, 157.7 ,  72.  , 119.35, 121.31, 626.  , 130.  ,
       197.2 , 420.  , 147.94, 153.87, 254.79, 148.  , 177.46, 300.  ,
       164.7 , 183.  , 121.4 ,  47.  ,  98.63, 169.  ,  94.93,  80.9 ,
       178.  , 138.08, 112.  , 160.  , 139.46, 160.77, 108.49,  38.4 ,
        99.23,  80.46, 148.31, 132.  , 201.1 , 260.  , 189.  , 168.  ,
        91.19, 178.4 , 108.62, 141.1 , 177.5 , 362.9 , 282.  ,  58.  ,
        83.81, 150.  ,  70.02, 181.  , 252.  , 158.2 , 192.  , 335.3 ,
       201.15, 218.  ,  72.42, 157.75, 245.  ,  97.9 , 100.57, 116.4 ,
       364.9 , 167.6 , 123.37, 102.57, 181.03, 272.  , 235.  , 181.04,
       248.  , 179.5 ,  66.  , 104.55, 173.  , 104.5 , 178.3 , 154.  ,
       246.7 , 105.94, 244.1 , 215.  ,  53.  , 175.  , 198.5 , 270.9 ,
       249.  , 116.6 , 601.  , 301.8 , 138.13, 255.  , 261.4 , 147.6 ,
       155.  , 120.7 , 108.  ,  61.6 , 122.4 , 100.5 , 394.3 , 118.3 ,
       210.  , 237.4 ,  98.  , 167.67, 163.  , 130.3 , 241.38, 306.  ,
       193.1 ,  97.89, 178.49, 161.6 ,  98.97,  84.48, 112.44, 308.  ,
        84.82, 158.  ,  76.43, 301.72, 194.3 , 147.4 , 333.  , 500.  ,
       194.  , 182.46, 362.07, 440.  ,  58.3 , 450.  , 362.  ,  91.2 ,
       258.81, 459.  , 151.89, 600.  ,  59.18, 246.74, 197.13, 158.8 ,
       261.5 , 194.4 , 201.  , 103.56,  65.39, 563.  , 296.  , 248.08,
       163.2 , 143.  , 156.  , 270.88, 385.  , 402.  , 231.1 , 174.57,
       152.88, 552.  , 106.  ,  83.  ,  80.8 , 130.1 , 119.3 ,  62.  ,
       259.  , 221.3 ,  75.1 , 349.5 , 170.63, 177.01])

In [23]:
#creating column transformation
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from sklearn.compose import ColumnTransformer
num_scaler=StandardScaler()
cat_transformer=OneHotEncoder(drop='first')
cat_cols=['seller_type','fuel_type','transmission_type']
numeric_cols=x.select_dtypes(exclude='object').columns
transformer=ColumnTransformer([('StandardScaler',num_scaler,numeric_cols),
                                ('OneHotEncoder',cat_transformer,cat_cols)],remainder='passthrough')

In [24]:
x=transformer.fit_transform(x)

In [27]:
#separate train and test
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

# Model trainning and testing

In [28]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import LinearRegression,Ridge,Lasso
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error

In [31]:
#model trainning
models={'LinearRegression':LinearRegression(),
        'RidgeRegression':Ridge(),
        'LassoRegression':Lasso(),
         'KNeighborsRegressor':KNeighborsRegressor(),
         'RandomForestRegressor':RandomForestRegressor(),
         'DecisionTreeRegresso':DecisionTreeRegressor()}

In [33]:
#create a functoin to evalutae model
def evaluate(true,predicted):
    print('mse:',mean_squared_error(true,predicted))
    print('mae:',mean_absolute_error(true,predicted))
    print('rmse:',np.sqrt(mean_squared_error(true,predicted)))
    print('r2score:',r2_score(true,predicted))

In [34]:
for i in range(len(list(models))):
    #trainning
    model=list(models.values())[i]
    model.fit(x_train,y_train)
    #predicton
    y_pred_train=model.predict(x_train)
    y_pred_test=model.predict(x_test)
    #evaluating score
    print(list(models.keys())[i])
    print('model performance on trainning set-------------------------------------')
    evaluate(y_pred_train,y_train)
    print('model performance on test set-------------------------------------')
    evaluate(y_pred_test,y_test)

LinearRegression
model performance on trainning set-------------------------------------
mse: 306756099359.7596
mae: 268101.6070829937
rmse: 553855.6665411663
r2score: 0.3916933086903014
model performance on test set-------------------------------------
mse: 252550062888.5655
mae: 279618.57941584283
rmse: 502543.59302309836
r2score: 0.5223787131063803
RidgeRegression
model performance on trainning set-------------------------------------
mse: 306756818740.9266
mae: 268059.80146882724
rmse: 553856.3159709624
r2score: 0.391563315614191
model performance on test set-------------------------------------
mse: 252540243247.9704
mae: 279557.2168930238
rmse: 502533.8229890307
r2score: 0.5223152844680428
LassoRegression
model performance on trainning set-------------------------------------
mse: 306756104248.6379
mae: 268099.2219400299
rmse: 553855.6709546611
r2score: 0.3916884541244464
model performance on test set-------------------------------------
mse: 252549134941.56293
mae: 279614.7453273891
rmse: 502542.66977199353
r2score: 0.5223774882141856
KNeighborsRegressor
model performance on trainning set-------------------------------------
mse: 106193489990.26607
mae: 91426.3627514601
rmse: 325873.42633339413
r2score: 0.8223617968281642
model performance on test set-------------------------------------
mse: 64021344520.150826
mae: 112526.34609146934
rmse: 253024.39510875393
r2score: 0.8974452800897968

C:\Users\sameer sheikh\AppData\Local\Temp\ipykernel_30072\3781612295.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model.fit(x_train,y_train)

RandomForestRegressor
model performance on trainning set-------------------------------------
mse: 19149663274.20162
mae: 39655.51404679483
rmse: 138382.30838586853
r2score: 0.9728449196783607
model performance on test set-------------------------------------
mse: 52921800993.53196
mae: 101619.14328622869
rmse: 230047.3885822918
r2score: 0.9263312242335324
DecisionTreeRegresso
model performance on trainning set-------------------------------------
mse: 432524990.53644824
mae: 5164.819922128488
rmse: 20797.23516567643
r2score: 0.9994664152675751
model performance on test set-------------------------------------
mse: 96347969563.12845
mae: 125777.12995999567
rmse: 310399.69323942385
r2score: 0.8769131388424993

In [36]:
#on the basis of models performance on r2_score randomforest and kneibhours performs best
#lets hypertune our best models
rf_params={'max_depth':[5,8,15,None,10],
          'max_features':[5,7,'auto',8],
          'min_samples_split':[2,8,15,20],
          'n_estimators':[100,200,500,1000]}
kn_params={'n_neighbors':[2,3,10,20,40,50]}

In [39]:
randomcv_models=[['KNN',KNeighborsRegressor(),kn_params],['RF',RandomForestRegressor(),rf_params]]
from sklearn.model_selection import RandomizedSearchCV
for i in randomcv_models:
    random=RandomizedSearchCV(estimator=i[1],param_distributions=i[2],n_iter=100,cv=3,verbose=2,n_jobs=-1)
    random.fit(x_train,y_train)
    print(f'best params for model {i[0]} are:')
    print(random.best_params_)

C:\Users\sameer sheikh\anaconda3\Lib\site-packages\sklearn\model_selection\_search.py:305: UserWarning: The total space of parameters 6 is smaller than n_iter=100. Running 6 iterations. For exhaustive searches, use GridSearchCV.
  warnings.warn(

Fitting 3 folds for each of 6 candidates, totalling 18 fits
best params for model KNN are:
{'n_neighbors': 10}
Fitting 3 folds for each of 100 candidates, totalling 300 fits

C:\Users\sameer sheikh\anaconda3\Lib\site-packages\sklearn\model_selection\_search.py:909: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

best params for model RF are:
{'n_estimators': 1000, 'min_samples_split': 2, 'max_features': 8, 'max_depth': 15}

In [40]:
randomcv_models=[['KNN',KNeighborsRegressor(n_neighbors=10)],['RF',RandomForestRegressor(n_estimators=1000,min_samples_split=2,max_features=8, max_depth=15)]]
#from sklearn.model_selection import RandomizedSearchCV
for i in randomcv_models:
    modell=i[1]
    modell.fit(x_train,y_train)
    #predicton
    y_pred_train=modell.predict(x_train)
    y_pred_test=modell.predict(x_test)
    #evaluating score
    print('model performance on trainning set-------------------------------------')
    evaluate(y_pred_train,y_train)
    print('model performance on test set-------------------------------------')
    evaluate(y_pred_test,y_test)

model performance on trainning set-------------------------------------
mse: 132103417091.98572
mae: 103470.48182998053
rmse: 363460.3377151154
r2score: 0.7610823133961128
model performance on test set-------------------------------------
mse: 69636909424.46481
mae: 117496.21310411936
rmse: 263888.06230003055
r2score: 0.8767112078454583

C:\Users\sameer sheikh\AppData\Local\Temp\ipykernel_30072\2238455712.py:5: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  modell.fit(x_train,y_train)

model performance on trainning set-------------------------------------
mse: 18197258279.36634
mae: 53783.40950766179
rmse: 134897.21375686876
r2score: 0.974407099159445
model performance on test set-------------------------------------
mse: 47333514688.13833
mae: 98212.65942220567
rmse: 217562.66841565058
r2score: 0.9333346555279823